<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="logo-wrapper">
          <img src="assets/logo-footer.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 sitemap">
        <ul>
          <h5>
            Mapa del sitio
          </h5>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Quiénes somos</a>
          </li>
          <li>
            <a href="">FAQs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
