<section id="contact-us" class="contact-us">
  <div class="container">
    <div class="form-wrapper">
      <div class="title">
        <h1>Contacto</h1>
        <p>Por favor completar todos los campos para enviar el formulario.</p>
      </div>
      <form [formGroup]="contactForm">
        <input class="custom-input" placeholder="Nombre y apellido" id="name" name="name" formControlName="name"
          type="text" class="validate" required>
        <input class="custom-input" placeholder="Teléfono" id="phone" name="phone" formControlName="phone"
          type="number" class="validate" required>
        <input class="custom-input" placeholder="Correo" id="email" name="email" formControlName="email" type="email"
          class="validate" required>
        <div class="btn-wrapper">
          <button type="submit" class="" [disabled]="loadingEmail || !contactForm.valid" (click)="sendEmail()">
            <span *ngIf="!loadingEmail">Enviar</span>
            <img class="loading-email" src="assets/loading.svg" alt="cargando" *ngIf="loadingEmail">
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
